<h1>Angular App with StencilJS Editor</h1>
<custom-rtf #editorComponent
[initialvalue]="initialvalue" 
disable-quickbars="isQuickBarsDisabled"
font-size="24pt"
font-family="Arial"
(valueChange)="onEditorChange($event)"
  (editorFocus)="onEditorFocus()"
  (editorBlur)="onEditorBlur()"
  [disabled]="isEditorDisabled"
  placeholder="Ängular RTE MVP"
(contentChanged)="handleContentChange($event)">
</custom-rtf>
<h1>tinymce/tinymce-webcompoment:valid API key (14-day trial)</h1>
<rich-text-editor></rich-text-editor>